@{
    ViewData["Title"] = "About";
}
<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
<div style="font-family:'Advent Pro'">

    <h1>@ViewData["Title"]</h1>
    <h3>
        Create: Ivan Kihtan; <br />
        Help: google.com    <br />
    </h3>

</div>
