@{
    ViewData["Title"] = "Home";
}
<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
<div style=" font-family: 'Advent Pro'">
    <h1>  Trading Company  </h1>
    <h3>
        You Can:<br>
        -Buy Goods<br>
        -Sell Goods<br>
        -Register<br>
        -Login<br>
    </h3>

</div>

